########################################################
# http://www.algeriestream.com
########################################################
@IF(@PARAM1@!=CATCH)@

start=http://www.algeriestream.com
skill=videoTitle

item_infos=<a class="thumb" href="/tv([^"]+)" tvname=".*?" ><img src="([^"]+)" alt="([^"]+)".*?" /></a>
item_order=url.tmp|icon.tmp|title
item_skill=rss

item_info_name=icon
item_info_from=icon.tmp
item_info_build=http://www.algeriestream.com%s

item_info_name=cfg
item_info_build=algeriestream.com.cfg@CATCH

item_info_name=url
item_info_from=url.tmp
item_info_build=http://www.algeriestream.com%s
item_url_build=%s

@ENDIF@

@IF(@PARAM1@==CATCH)@


item_infos=http://www.marociptv.com/onlineusers.cfm\?tv=([^&]+)
item_order=video

item_info_name=title
item_info_build=PLAY

item_info_name=pageUrl
item_info_from=video
item_info_build=http://www.marociptv.com/sharetv/%s/0/0/


item_info_name=tmp
item_info_from=pageUrl
item_info_convert=getInfo('%s','.*?['"]flashplayer['"][:,]\s*['"]([^'"]+)['"].*?['"]streamer['"][:,]\s*['"]([^'"]+)['"].*?['"]file['"][:,]\s*['"]([^'"]+)['"].*','http://www.algeriestream.com','swf.tmp|rtmp|file')
item_info_build=%s

item_info_name=url
item_info_from=rtmp + ' playpath=' + file + ' swfUrl=http://www.marociptv.com/embed/maroctv.swf live=true timeout=15 buffer=300000 swfVfy=1 pageUrl=' + pageUrl
item_info_build=%s

item_info_name=type
item_info_build=video

item_url_build=%s


@ENDIF@